@charset "UTF-8"

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #2482C2;
    --cor-secundaria: #F68712;
    --cor1: #0051EB;
    --cor2: #EBD317;
    --cor3: #EB7417;
    --cor4: #340CEB;
    --cor5: #0CCFEB;
    --text-color1: #000;
    --text-color2: #FFF;
    --text-color3: #d2d2d2;
}

/* Barra de navegação */
#logo {
    width: 50px;
}

header, .navbar {
    background: blue;
}

.navbar-brand, 
.navbar-brand:hover, 
#navbarNav a:hover, 
.navbar-toggler:focus{
    font-weight: 700;
    color: var(--cor-principal);
}

.nav-expand-lg, .navbar-nav, .nav-link { 
    padding: 1rem .8rem;
}

.btn {
    background: var(--cor-principal);
    border: var(--cor-principal);
}

.btn:hover {
    background: var(--cor-secundaria);
    border: var(--cor-secundaria);
}

form {
    max-width: 650px;
}

.card {
    min-width: 220px;
    max-width: 350px;
}

#top-cidades-br {
    min-height: 300px;
}

/* footer */

footer {
    color: var(--text-color3);
    text-align: center;
    background: var(--cor4);
    padding: 10px 0;
}

footer a {
    color: var(--text-color3) !important;
    text-decoration: none;
}

footer a:hover {
    color: var(--text-color2) !important;
    text-decoration: underline;
}

footer i, footer i:hover {
    font-size: 1.2em;
}

#secoes {
}