@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #5656ff;
    --cor2: #1718EB;
    --cor3: #0B0B6B;
    --cor4: #FFCF00;
    --cor5: #E65B03;

    --text-color1: #000;
    --text-color2: #FFF;
    --text-color3: #d2d2d2;
}

body {
    font-family: 'Rubik', sans-serif;
}

/* Barra de navegação */
#logo {
    width: 100px;
    color: var(--cor2);
}

header, 
.navbar {
}

.navbar-brand, 
.navbar-brand:hover, 
#navbarNav a:hover {
    font-weight: 700;
    color: var(--cor2);
}

.navbar-toggler:focus {
    color: #1717eb37;
}

.nav-expand-lg, 
.navbar-nav, 
.nav-link { 
    padding: 1rem .8rem;
}

.btn {
    background: var(--cor2);
    border: var(--cor2);
}

.btn:hover {
    color: var(--text-color1);
    background: var(--cor4);
    border: var(--cor4);
}

#div-form {
    background: var(--cor3);
}

form {
    background: var(--text-color2);
    border-radius: 5px;
    max-width: 1100px;
}

.form-nav {
    width: 48%;
}

main {
    max-width: 1100px;
    margin: auto;
}

/* #top-cidades-br {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
} */

/* #top-cidades-br .carousel-item {
    max-width: 150px;
} */

/* #top-cidades-br .carousel-item {
    min-width: 220px;
    max-width: 350px;
}

#btn-carousel {
    background: red;
    min-width: 100px;
    max-width: 150px;
} */

#top-cidades-br {
    min-width: 240px;
    max-width: 950px;
}

#hospedagens .card {
    min-width: 280px;
    max-width: 350px;
    margin: auto;
}

#pacotes .card {
    min-width: 300px;
}

.rate {
    display: inline;
    color: var(--text-color2);
    background: rgb(0, 164, 0);
    border-radius: 5px;
    padding: 0px 5px;
    margin-right: 5px;
}

.bi-star-fill,
.bi-star-half,
.bi-star {
    color: #FFCF00;
}

#ver-mais a {
    color: var(--text-color1);
    font-size: 1.3em;
    text-decoration: none;
    margin: 10px 0;
}

#ver-mais a:hover {
    color: var(--cor2);
    font-size: 1.5em;
    text-decoration: underline;
}

/* #top-cidades-br {
    min-height: 300px;
} */

/* footer */

footer {
    color: var(--text-color3);
    text-align: center;
    background: var(--cor3);
}

#footer-logo {
    width: 200px;
}

footer a {
    color: var(--text-color3) !important;
    text-decoration: none;
}

footer a:hover {
    color: var(--text-color2) !important;
    text-decoration: underline;
}

footer i, footer i:hover {
    font-size: 1.2em;
}

/* @media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
} */
